html,
body {
  position: relative;
  color: #9c9c9c;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #00283f;
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  gap: 20px;
  font-size: inherit;
}

.form-login h2,
.form-tp h2 {
  padding: 5px;
  margin-bottom: 20px;
}

input {
  padding: 15px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #00c4ff33;
  background: transparent;
  color: inherit;
  font-size: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 20px;
  background: #00c4ff8f;
  color: white;
  font-size: inherit;
}

.login-google {
  position: relative;
  /* background: red; */
}

.sparator {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  margin: 20px 0;
}

.sparator::before,
.sparator::after {
  content: "";
  width: 50%;
  height: 1px;
  background: #b8b8b84d;
}

.sparator::before {
  margin-right: 5px;
}

.sparator::after {
  margin-left: 5px;
}

/* OTP EMAIL TEMPLATE */
